/* 
Styling all the Headings
*/

h2[id="red"] {
    color: red;
    font-weight: normal;
}

h2[id="blue"] {
    color: rgb(0, 0, 255);
    font-weight: normal;
}

#orange {
    color: #ff6bff;
    font-weight: normal;
}

#green {
    color: green;
    font-weight: normal;
}


h2[id="yellow"] {
    color: yellow;
    font-weight: normal;
}

img {
    max-height: 200px;
    max-width: 200px;
}