/* Container class containing all the flexbox code */
.container {
    display: flex;
    flex-flow: row wrap;

    /* Aligns the items of flex box and its text elements along the main axes */
    justify-content: center;

    /* Aligns the items of flex box along the cross axes works with wrap on */
    align-content: center;

    /* Aligns the items of flex box along the cross axes doesnt work with wrap on */
    align-items: flex-end;

    /* Provides gap between the rows and cols */
    gap: 5px;
}

.element {
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-size: 25px;
    font-weight: 400;
    width: 150px;
    height: 100px;
    padding: 20px;
    background-color: cyan;
}

.textElement {
    position: relative;
    top: 5px;
    left: 10px;
}

.First {
    order: 5;
    flex-grow: 1;
}

.Second {
    order: 4;
    flex-shrink: 1;
}

.Third {
    order: 3;
    flex-shrink: 1;
}

.Fourth {
    order: 2;
    flex-shrink: 1;
}

.Fifth {
    order: 1;
    flex-grow: 1;
}

/* Media Query to alter the behaviour of the flexbox */
@media (max-width: 650px) {
    .container {
        flex-direction: column;
    }

    .First {
        order: 1;
    }
    
    .Second {
        order: 2;
    }
    
    .Third {
        order: 3;
    }
    
    .Fourth {
        order: 4;
    }
    
    .Fifth {
        order: 5;
    }
}