/* Don't change the existing CSS. */

.box {
  background-color: blue;
  padding: 10px;
}

#outer-box {
  border: 10px solid magenta;
  padding: 10px;
}

.inner-box {
  background-color: red;
}

.white-text {
  color: whitesmoke;
}

p {
  color: yellow;
  margin: 0;
  padding: 0;
}