html {
    background-color: black;
}

.content {
    text-align: center;
    width: 50%;
    margin-left: 25%;
}

img {
    border: white solid 5px;
    margin-top: 50px;
    width: 100%;
}

h1 {
    color: white;
    font-family: "Libre Baskerville";
    margin-top: 40px;
    text-transform: uppercase;
}

h3 {
    color: white;
    font-family: "Libre Baskerville";

}